<div class="container-fluid">
    <div id="bannertext">
        <div class="text-middle container-fluid card indexcard" style="background-color: white; margin-top: 30px;">
            <p id=" bannertext">
                Checkout my <a style="color#b5e853;" href='/tie/'>TIE section</a> (Today I Explored):<br> Posts
                outlining the
                topics
                in Computer Science and/or Mathematics that I have focused on.</p>
        </div>
        <hr style="margin-bottom: 30px; margin-top: 40px; color: palevioletred">
    </div>
</div>