---
<div>
        <p>Not too active on social media. When I do post you can find me on LinkedIn and Twitter:</p>
        <br>
        <div style="display:inline; margin-bottom: 15px;">

                <a href="https://twitter.com/{{site.twitter_username}}" target="_blank"><img
                                src="/assets/images/social/tw.png" width="47px" hspace="18" vspace="0"></a>
                <a href="https://www.linkedin/{{site.linkedin_username}}" target="_blank"><img
                                src="/assets/images/social/li.png" width="47px" hspace="18" vspace="0"></a>
        </div>
        <br>
        <br>
        <hr>
        <br>

        <h2>Contact me via e-mail</h2>
        <a class="u-email" href="mailto:clarkke20@students.ecu.edu">clarkke20@students.ecu.edu</a>
</div>