<div class="container-fluid">
    <div class="text-middle container-fluid card indexcard"
        style="background-color: rgb(247, 247, 70); margin-top: 30px;">
        <div class="row" style="text-align:left">
            <p>Your feedback and suggestions are welcome for topics for me to look into. Email me at
                <a class="u-email" href="mailto:clarkke20@students.ecu.edu"> clarkke20@students.ecu.edu </a>
            </p>
            <br>
            <p> or find me on LinkedIn and Twitter:
            <div style="display:inline; margin-bottom: 15px;">

                <a href="https://twitter.com/{{site.twitter_username}}" target="_blank"><img
                        src="/assets/images/social/tw.png" width="47px" hspace="18" vspace="0"></a>
                <a href="https://www.linkedin/{{site.linkedin_username}}" target="_blank"><img
                        src="/assets/images/social/li.png" width="47px" hspace="18" vspace="0"></a>
            </div>
            </p>
        </div>
    </div>
</div>