<style media="screen">
    img {
        position: relative;
        top: -4.3px;
    }
</style>
<header class="site-header" role="banner">
    <div>

        <div class="wrapper" style="padding: 0px;">
            {% assign default_paths = site.pages | map: "path" %}
            {% assign page_paths = site.header_pages | default:default_paths %}
            <nav class="navbar navbar-light navbar-expand-md ">
                <div class="container-fluid p-0">
                    <a class="navbar-brand" href="/" style="align-items: center;">

                        <h1> {{ site.title |escape}} </h1>
                    </a>


                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false"
                        aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarCollapse">

                        <ul class="navbar-nav ms-auto mb-2 mb-md-0">
                            <li class="nav-item">
                                <a class='nav-link' href="/projects">
                                    Projects
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class='nav-link' href="/tie">
                                    TIE
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </div>
</header>