<div class="container-fluid">
    <div class="text-middle container-fluid  ">
        <h2 style="text-align: center; color:#284253;">Welcome!</h2>
        <div style="text-indent:5%;">
            <p> My name is Kelle Clark, and I am a Mathematics and
                Computer Science enthusiast. I honestly enjoy
                researching every concept that I come across.
            </p>
            <p>This site allows me to journal my exploration into these fields, catalog great resources
                and share my ideas with others.
            </p>
            <p> Please visit my <a href="/tie">TIE</a> (Today I Explored) blog-like page, checkout my
                <a href="/projects/">Projects</a> page to view samples of my work or view my <a
                    href="/documents/KelleClark.pdf">resume</a>. To contact me, click the "About Me" icon in the
                upper left corner of this card.
            </p>
            <br>
            <br>
            <br>
        </div>
    </div>

</div>