<!DOCTYPE html>

<html lang="{{ page.lang | default: site.lang | default: " en" }}">

</html>

{% include head.html %}


<body>
    {% include header.html %}

    <div class="container-fluid" id="first_terminal">
        <div style="background-image:url(../assets/images/bkg.png);">
            <br>
        </div>
        <div class="row">
            {% include announcement.html %}
        </div>

        <div class="row">
            {% include welcome_row.html %}
        </div>
    </div>

    <div>
        <br>
    </div>

    <div class="container-fluid" style="margin-top: -60px" id="second_terminal">
        <div style="background-image:url(../assets/images/bkg.png);">
            <br>
        </div>
        <div class=row>
            {% include contact_row.html %}
        </div>

    </div>
    </div>




</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
<script src="/assets/js/bootstrap.js"></script>

</html>